<div class="mt-4 bg-warning">
    <div class="container">
        <div class="row p-4">
            <div class="col-4">
                <h3>Footer col 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsum mollitia quam quos! At corporis, eligendi error, labore mollitia nam natus neque nulla, perferendis quas rem rerum voluptates voluptatum! Expedita.</p>
            </div>
            <div class="col-4">
                <h3>Footer col 12</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsum mollitia quam quos! At corporis, eligendi error, labore mollitia nam natus neque nulla, perferendis quas rem rerum voluptates voluptatum! Expedita.</p>
            </div>
            <div class="col-4">
                <h3>Footer col 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsum mollitia quam quos! At corporis, eligendi error, labore mollitia nam natus neque nulla, perferendis quas rem rerum voluptates voluptatum! Expedita.</p>
            </div>

        </div>
    </div>
</div>