<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    {#<a class="navbar-brand" href="{{ path('index') }}">#}
        PRODUCT & SUPPLIER
    {#</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {#<a class="nav-link" href="{{ path('index') }}">Accueil</a>#}
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('product', 'index') }}">Product</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('supplier', 'index') }}">Supplier</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('productSupplier', 'index') }}">Achat supplier</a>
            </li>
        </ul>
    </div>
</nav>