<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
</head>
<body>
    {% include 'partialsViews/header.html.twig' %}
    <div class="container">
        <div class="row">
           <div class="col-12">
               {% block main %}{% endblock %}
           </div>
        </div>
    </div>
    <footer>
        {% include 'partialsViews/footer.html.twig' %}
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>