{% extends "baseLayout.html.twig" %}
{% block main %}
<h4>index</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias debitis dignissimos dolore, dolores eaque earum eligendi excepturi facere fugit inventore maxime nisi praesentium sapiente, tempora totam vitae? Modi, quaerat!</p>
{% endblock %}
{% block title %}home{% endblock %}