{% extends "baseLayout.html.twig" %}
{% block main %}
    {# @var product \PhpOO\Models\Product #}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>ProductID :</h4>
                {{ product.productId }}
            </div>
            <div class="col-6">
                <h4>ProductName :</h4>
                {{ product.productName }}
            </div>
            <div class="col-6 mt-3">
                <h4>ProductDescription :</h4>
                {{ product.productDescription }}
            </div>
            <div class="col-6 mt-3">
                <h4>ProductImage :</h4>
                {{ product.productImage }}
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}Products List{% endblock %}