{% extends "baseLayout.html.twig" %}
{% block main %}
    {% if errors.sql is defined %}<div class="alert alert-danger">{{ errors.sql }}</div> {% endif %}
    <form action="#" method="post" class="form-group">
        <label for="name">Nom</label><input class="form-control" type="text" name="name" id="name" value="{{ prod.productName }}">
        <p class="text-danger">{{ errors.name }}</p>
        <label for="description">description</label><input class="form-control" type="text" name="description" id="description" value="{{ prod.productDescription }}">
        <p class="text-danger">{{ errors.description }}</p>
        <label for="image">image</label><input class="form-control" type="text" name="image" id="image" value="{{ prod.productImage }}">
        <p class="text-danger">{{ errors.image }}</p>
        <input type="submit" class="btn btn-block btn-danger mt-2" value="Valider">
    </form>
{% endblock %}

{% block title %}Add product{% endblock %}