{% extends "baseLayout.html.twig" %}
{% block main %}
    <a href="{{ path('productSupplier', 'add') }}" class="btn btn-block btn-danger mb-4">Ajouter un productSupplier</a>
    <table class="table">
        <thead>
        <th>Product ID</th>
        <th>Supplier ID</th>
        <th>Price</th>
        </thead>
        <tbody>
        {% for proSup in proSups %}
            <tr>
                <td><a href="{{ path('product', 'details', {'id': proSup.productID }) }}">{{ proSup.productID }}</a></td>
                <td><a href="{{ path('supplier', 'details', {'id': proSup.supplierID }) }}">{{ proSup.supplierID }}</td>
                <td>{{ proSup.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block title %}Products List{% endblock %}