{% extends "baseLayout.html.twig" %}
{% block main %}
    {% if errors.sql is defined %}<div class="alert alert-danger">{{ errors.sql }}</div> {% endif %}
    <form action="#" method="post" class="form-group">
        <label for="name">Produit</label>
        <select name="productID" id="productID" class="form-control">
            {% for prodList in prodLists %}
            <option value="{{ prodList.productID }}">{{ prodList.productName }}</option>
            {% endfor %}
        </select>
        <p class="text-danger">{{ errors.product }}</p>
        <label for="description">Fournisseur</label>
        <select name="supplierID" id="productID" class="form-control">
            {% for suppList in suppLists %}
            <option value="{{ suppList.supplierID }}">{{ suppList.supplierName }}</option>
            {% endfor %}
        </select>
        <p class="text-danger">{{ errors.supplier }}</p>
        <label for="price">Prix</label><input class="form-control" type="text" name="price" id="price" value="{{ sup.productImage }}">
        <p class="text-danger">{{ errors.price }}</p>
        <input type="submit" class="btn btn-block btn-danger mt-2" value="Valider">
    </form>
{% endblock %}

{% block title %}Add offre{% endblock %}