{% extends "baseLayout.html.twig" %}
{% block main %}
<a href="{{ path('product', 'newProd') }}" class="btn btn-block btn-danger mb-4">Ajouter un product</a>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Image</th>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td><a href="{{ path('product', 'details', { 'id': product.productId }) }}">{{ product.productId }}</a></td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productDescription }}</td>
        <td>{{ product.productImage }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block title %}Products List{% endblock %}