{% extends "baseLayout.html.twig" %}
{% block main %}
    {# @var supplier \PhpOO\Models\Supplier #}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>SupplierId :</h4>
                {{ supplier.supplierId }}
            </div>
            <div class="col-6">
                <h4>SupplierName :</h4>
                {{ supplier.supplierName }}
            </div>
            <div class="col-6 mt-3">
                <h4>SupplierAdress :</h4>
                {{ supplier.supplierAdress }}
            </div>
            <div class="col-6 mt-3">
                <h4>SupplierMail :</h4>
                {{ supplier.supplierMail }}
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}Products List{% endblock %}