{% extends "baseLayout.html.twig" %}
{% block main %}
<a href="{{ path('supplier', 'newSup') }}" class="btn btn-block btn-danger mb-4">Ajouter un supplier</a>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Adress</th>
        <th>Mail</th>
    </thead>
    <tbody>
    {% for supplier in suppliers %}
    <tr>
        <td><a href="{{ path('supplier', 'details', { 'id': supplier.supplierID}) }}">{{ supplier.supplierID }}</a></td>
        <td>{{ supplier.supplierName }}</td>
        <td>{{ supplier.supplierAdress }}</td>
        <td>{{ supplier.supplierMail }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block title %}Suppliers List{% endblock %}