{% extends "baseLayout.html.twig" %}
{% block main %}
    <form action="#" method="post" class="form-group">
        <label for="name">Nom</label><input class="form-control" type="text" name="name" id="name">
        <label for="adress">Adress</label><input class="form-control" type="text" name="adress" id="adress">
        <label for="mail">mail</label><input class="form-control" type="text" name="mail" id="mail">
        <input type="submit" class="btn btn-block btn-danger mt-2" value="Submit">
    </form>
{% endblock %}

{% block title %}Add product{% endblock %}